# Python specific
__pycache__/
*.pyc

# Virtual Environments
venv/
.venv/
env/
.env/

# Secrets - IMPORTANT
.env

# Generated Data & State Files
*.db
*.db-journal
cookies_*.json
seen_ids.txt
last_id.txt

# Editor & OS Files
.vscode/
.idea/
.DS_Store
Thumbs.db